body{
    background-color: white;
}
.view-container{
    margin: auto;
}
.view-header{
    padding: 40px;
    background-color: rgb(8, 8, 117)
}
.view-main-header{
    display: flex;
    width: 100%;
    background-color: rgb(8, 8, 117); 
    color: white;
    margin-left: 0;
    line-height: 5px;
    padding: 10px;
    justify-content: space-between;
}
.head-clr{
    background-color: rgb(8, 8, 117); 
}
.address-view{
  text-align: right;
  padding: 15px 10px 10px 10px;
  background-color: rgb(8, 8, 117)
}

.education-details{
    width: 100%;
    padding: 20px;
}
.education-view{
    width: 100%;
}
.experience-details{
    width: 100%;
    padding: 20px;
}
.experience-view{
    width: 100%;
}
.skills-all{
    width: 100%;
    padding: 20px;
}
.skills-view{
    width: 100%;
}
.head-3{
    width: 200px;
}
.lang-all{
    width: 100%;
    padding: 20px;
}
.lang-view{
    width: 100%;
}
.button-pdf{
    padding: 15px;
    background-color: rgba(0, 0, 255, 0.514);
    border: none;
    border-radius: 5px;
    width: 100%;
    color: white; 
}